<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <title>Welcome Back to your WithYou!!!</title>
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/lisu.css">
    <script src="static/js/login.js"></script>
    <script src="static/js/common.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body class="lisu_body">
    <div class="body_lisu_div flex">
        <div class="logo_box_top justifyContentCenter flex">
            <div class="logo_text flex">
                <div class="logo_lisu shine">WithYou</div>
                <div class="slog_ shine">#OceanOfHearts</div>
            </div>
        </div>
        <div class="lisu_div">
            <div class="wcText justifyContentCenter flex">
                <div class="input_box flex">
                    <div class="flex input_material">
                        <div class="email_lisu flex each_col com_lisu">
                            <div class="svg_lisu">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon errorSvg"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            </div>
                            <input type="email" placeholder="Email address" class="input_lisu" name="li_email" id="li_email">
                        </div>
                        <div class="password_lisu flex each_col com_lisu">
                            <div class="svg_lisu">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon errorSvg"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                            </div>
                            <input type="password" placeholder="Password" class="input_lisu" name="li_password" id="li_password">
                        </div>
                        <div class="each_col errorDiv">
                            <div class="errorDivMessage"></div>
                        </div>
                        <button class="button_com_lisu each_col link">Login</button>
                        <a class="forgot_link fontSize12 flex justifyContentCenter link">Forgot password?</a>
                    </div>
                    <div class="flex last_line_lisu justifyContentCenter">
                        <div class="forgot_link fontSize12">New to this era?</div>
                        <a class="forgot_link fontSize12 text_ll_lisu link" href="signup">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>